@import "resources/assets/sass/Variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/components/Header";
@import "resources/assets/sass/components/Navigation";
@import "resources/assets/sass/components/Footer";
@import "resources/assets/sass/views/Home";

.Content-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ProfilePhoto {
  border-radius: 5px;
}