$red: #B01B2E;
$blue: #022E80;
$grey: #BEC3C7;

$democratBlue: #232066;
$republicanRed: #E91D0E;

// Bootstrap overriders

$font-size-base: 16px;
$link-color: $blue;
$nav-link-hover-bg: $grey;
$component-active-bg: $grey;
$component-active-color: $blue;

$headings-line-height: 1.1;
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-color: #6D6C6C;
$font-size-h3: 27px;