$red: #B01B2E;
$blue: #022E80;
$grey: #BEC3C7;

$democratBlue: #232066;
$republicanRed: #E91D0E;

// Bootstrap overriders

$font-size-base: 16px;
$link-color: $blue;
$nav-link-hover-bg: $grey;
$component-active-bg: $grey;
$component-active-color: $blue;
$headings-color: #DD1313;
$font-size-h3: 27px;