.Footer {
  min-height: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $grey;

  h4 {
    color: $blue;
  }
}

.Footer-sectionHeader {
  text-transform: uppercase;
}

.Footer--logo {
  width: 215px;
  height: auto;
}

.Footer--copyright {
  margin-top: 40px;
}

.Footer--nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}