.Footer {
  min-height: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F1F1F1;

  h4 {
    color: #6D6C6C;
  }

  a {
    color: #003082;
    text-decoration: none;

    &:hover {
      color: #B01C2E;
      text-decoration: none;
    }
  }
}

.Footer-sectionHeader {
  text-transform: uppercase;
}

.Footer--logo {
  width: 215px;
  height: auto;
}

.Footer--copyright {
  margin-top: 40px;
}

.Footer--nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}