.Header {
  background-color: #003b74;
}

.Header--logo {
  width: 300px;
  height: auto;

  @media (max-width: $screen-xs-max) {
    width: 160px;
  }
}

.Header--buttonContainer {
  line-height: 100px;

  @media (max-width: $screen-xs-max) {
    line-height: 80px;
  }
}

.Header--link {
  margin-top: -25px;
  display: block;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}