.Navigation {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #343434;
}

.Navigation-registerButton {
  display: block;
  width: 230px;
  padding: 5px 10px;
  background-color: $blue;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  &:hover, :focus {
    text-decoration: none;
    color: #ffffff;
  }
}

.Nav-row {
  margin-top: 20px;
}

.Nav-item {
  padding-left: 10px;
  text-transform: uppercase;

  &:nth-child(1) {
    padding-left: 0;
  }

  a {
    height: 60px;
    border: 1px solid $grey;
    font-size: 24px;
  }
}