.Review {
  border-bottom: 1px solid $grey;
  padding: 20px 20px 100px 20px;

  &:first-child {
    border-bottom: 1px solid $grey;
  }

  &:last-child {
    border-bottom: none;
  }
}

.Review--names, .Review--rating {
  margin-bottom: 10px;
}

.Review--bells {
  margin-right: 5px;
}

.Review--comment {

}