.PoliticianList--controls {
  margin-bottom: 20px;
}

.PoliticianList--item {
  display: inline-block;
  width: 33%;
  margin-right: 3px;
  margin-bottom: 42px;
  border: 1px solid red;

  &:nth-child(3) {
    margin-right: 0;
  }
}