.PoliticianList--tabs {
  margin-bottom: 40px;
  font-size: 24px;
  color: #ffffff;
}

.PoliticianList--tab {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: #D4D4D4;

  &.active {
    border-bottom: 2px solid darken($grey, 20%);
    background-color: $red;

    &:after {
      position: absolute;
      top: 100%;
      left: 45%;
      content: '';
      width: 0;
      height: 0;
      border-top: solid 10px darken($grey, 20%);
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }
  }

  &:hover {
    background-color: $red;
  }
}

.PoliticianList--controls {
  margin-bottom: 20px;
}

.PoliticianList--item {
  display: inline-block;
  width: 33%;
  margin-right: 3px;
  margin-bottom: 42px;

  &:nth-child(3) {
    margin-right: 0;
  }

  &.Democrat {
    .PoliticianList--photo {

    }

    .PoliticianList--name, .PoliticianList--district, .PoliticianList--detailLink {
      color: $democratBlue;
    }
  }

  &.Independent {
    .PoliticianList--photo {

    }

    .PoliticianList--name, .PoliticianList--district, .PoliticianList--detailLink {
      color: $grey;
    }
  }

  &.Republican {
    .PoliticianList--photo {

    }

    .PoliticianList--name, .PoliticianList--district, .PoliticianList--detailLink {
      color: $republicanRed;
    }
  }
}

.PoliticianList--photoContainer {
  float: left;
  margin-right: 10px;
}

.PoliticianList--photo {
  width: 180px;
  height: auto;
}

.PoliticianList--name {
  font-size: 20px;
  font-weight: 100;
}

.PoliticianList--district {
  font-weight: bold;
}