.PoliticianList--tabs {
  margin-bottom: 20px;
  font-size: 24px;
  color: $blue;
}

.PoliticianList--tab {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  &.active {
    border-bottom: 2px solid $red;
    background-color: $grey;

    &:after {
      position: absolute;
      top: 100%;
      left: 45%;
      content: '';
      width: 0;
      height: 0;
      border-top: solid 10px $red;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }
  }

  &:hover {
    background-color: $grey;
  }
}

.PoliticianList--controls {
  margin-bottom: 20px;
}

.PoliticianList--item {
  display: inline-block;
  width: 33%;
  margin-right: 3px;
  margin-bottom: 42px;

  &:nth-child(3) {
    margin-right: 0;
  }

  &.Democrat {
    .PoliticianList--photo {
      border: 2px solid $democratBlue;
    }

    .PoliticianList--name {
      color: $democratBlue;
    }
  }

  &.Independent {
    .PoliticianList--photo {
      border: 2px solid $grey;
    }

    .PoliticianList--name {
      color: $grey;
    }
  }

  &.Republican {
    .PoliticianList--photo {
      border: 2px solid $republicanRed;
    }

    .PoliticianList--name {
      color: $republicanRed;
    }
  }
}

.PoliticianList--photoContainer {
  float: left;
  margin-right: 10px;
}

.PoliticianList--photo {

}

.PoliticianList--name {
  font-size: 18px;
  font-weight: bold;
}