.PoliticianDetail--profile {
  margin-bottom: 20px;
}

.PoliticianDetail--photo {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.PoliticianDetail--name {
  margin-top: 0;
}

.PoliticianDetail--rating {
  margin-bottom: 10px;
}

.PoliticianRatingForm--amendments {
  margin-top: 20px;
  margin-bottom: 20px;

  td {
    padding: 5px;
  }
}

.PoliticianRatingForm--amendmentDescription {
  font-size: 18px;
}

.PoliticianRatingForm--comment {
  margin-bottom: 20px;
  resize: none;
  background-color: $red;
  color: #ffffff;
}

.PoliticianRatingForm--button {
  background-color: $red;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}