<div class="row PoliticianList--tabs">
    <div class="col-md-4 text-center PoliticianList--tab" ng-class="{'active': filterByOffice === 'House'}" ng-click="showHouse()">House</div>
    <div class="col-md-4 text-center PoliticianList--tab" ng-class="{'active': filterByOffice === 'Senate'}" ng-click="showSenate()">Senate</div>
    <div class="col-md-4 text-center PoliticianList--tab" ng-class="{'active': filterByOffice === ''}" ng-click="showCandidates()">Presidential Candidates</div>
</div>

<div class="row form PoliticianList--controls">
    <div class="col-md-3">
        <div class="form-group">
            <label for="Name">Name</label><br>
            <select id="Name" class="form-control" ng-model="filterByName">
                <option value="" selected>--</option>
                <option ng-repeat="politician in politicians" value="{{ politician.name }}">{{ politician.name }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="State">State</label><br>
            <select id="State" class="form-control" ng-model="filterByState">
                <option value="" selected>--</option>
                <option ng-repeat="state in data.states" value="{{ state }}">{{ state }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="Party">Party</label><br>
            <select id="Party" class="form-control" ng-model="filterByParty">
                <option value="" selected>--</option>
                <option ng-repeat="party in data.parties" value="{{ party }}">{{ party }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="OrderBy">Sort By</label><br>
            <select id="OrderBy" class="form-control" ng-model="orderBy">
                <option value="" selected>--</option>
                <option value="name">Name A-Z</option>
            </select>
        </div>
    </div>
</div>

<div class="PoliticianList--list">
    <div class="PoliticianList--item clearfix" ng-class="politician.party"
         ng-repeat="politician in politicians | filter: filterByName | filter:{state:filterByState} | filter:{party:filterByParty} | filter:{office:filterByOffice} | filter:{isPresidentialCandidate:filterByCandidate} | orderBy: orderBy">
        <div class="PoliticianList--photoContainer">
            <img class="PoliticianList--photo" ng-src="assets/images/politician-photos/{{ politician.photo }}">
        </div>
        <div class="PoliticianList--infoContainer">
            <div class="PoliticianList--name">{{ politician.name }}</div>
            <div class="PoliticianList--office">{{ politician.office }}</div>
            <div class="PoliticianList--district" ng-class="politician.party">
                <span>{{ politician.party | limitTo:1}} - {{ politician.state }}</span>
                <span ng-if="politician.district">{{ politician.district }}</span>
            </div>
        </div>
    </div>
</div>