<div class="row PoliticianList--tabs">
    <div class="col-md-4 col-xs-4 text-center PoliticianList--tab" ng-class="{'active': filterByOffice === 'Representative'}"
            ng-click="showHouse()">House
    </div>
    <div class="col-md-4 col-xs-4 text-center PoliticianList--tab" ng-class="{'active': filterByOffice === 'Senator'}"
            ng-click="showSenate()">Senate
    </div>
    <div class="col-md-4 col-xs-4 text-center PoliticianList--tab" ng-class="{'active': filterByCandidate === true}"
            ng-click="showCandidates()">Candidates
    </div>
</div>

<div class="row form PoliticianList--controls">
    <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <label for="Name">Name</label><br>
            <select id="Name" class="form-control" ng-model="selectedPolitician" ng-change="showPolitician()">
                <option value="" selected>All</option>
                <option ng-repeat="politician in politicians" value="{{ politician }}">{{ politician.name }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <label for="State">State</label><br>
            <select id="State" class="form-control" ng-model="filterByState">
                <option value="" selected>All</option>
                <option ng-repeat="state in data.states" value="{{ state }}">{{ state }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <label for="Party">Party</label><br>
            <select id="Party" class="form-control" ng-model="filterByParty">
                <option value="" selected>All</option>
                <option ng-repeat="party in data.parties" value="{{ party }}">{{ party }}</option>
            </select>
        </div>
    </div>
</div>

<div class="PoliticianList--list">
    <div class="PoliticianList--notFound" ng-show="filteredPoliticians.length === 0">
        <div><i class="fa fa-exclamation-triangle fa-2x"></i></div>
        <div>No politicians found.</div>
    </div>

    <div class="PoliticianList--item clearfix" ng-class="politician.party"
            ng-repeat="politician in filteredPoliticians = (politicians | filter:{name:filterByName} | filter:{state:filterByState} | filter:{party:filterByParty} | filter:{office:filterByOffice} | filter:{isPresidentialCandidate:filterByCandidate} | orderBy: orderBy)">

        <div class="PoliticianList--photoContainer">
            <a href="politicians/{{ politician.slug }}">
                <img class="PoliticianList--photo" ng-src="{{ 'assets/images/politician-photos/' + politician.slug + '.jpg' }}">
            </a>
        </div>
        <div class="PoliticianList--infoContainer">
            <div class="PoliticianList--name">
                <a class="PoliticianList--detailLink" href="politicians/{{ politician.slug }}">{{ politician.name }}</a>
            </div>
            <div class="PoliticianList--office">{{ politician.office }}</div>
            <div class="PoliticianList--district" ng-class="politician.party">
                <span>{{ politician.party | limitTo:1}} - {{ politician.state }}</span>
                <span ng-if="politician.district">{{ politician.district }}</span>
            </div>
            <div>
                <img ng-repeat="y in [1,2,3,4,5]" ng-src="{{ politician.rating >= y && '/assets/images/liberty-bell.png' || '/assets/images/liberty-bell-dark.png' }}">
            </div>
        </div>
    </div>
</div>
