<h3>Rate and Comment</h3>

<small>Hover the amendment to get a description.</small>

<table class="PoliticianRatingForm--amendments">
    <tr ng-repeat="x in [0,1,2,3,4,5,6,7,8,9]">
        <td class="PoliticianRatingForm--amendmentDescription" title="{{ amendments[x].description }}">{{ amendments[x].name }}:</td>
        <td>
            <img ng-repeat="y in [1,2,3,4,5]" ng-src="{{ amendments[x].rating == y && '/assets/images/liberty-bell.png' || '/assets/images/liberty-bell-dark.png' }}" ng-click="toggleAmendment(x, y)">
        </td>
    </tr>
</table>

<div>
    <textarea class="form-control PoliticianRatingForm--comment" rows="8" ng-model="comment"></textarea>
</div>

<button class="btn PoliticianRatingForm--button" ng-click="submit()">Submit</button>
